![png](erd.png)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
from sqlalchemy import create_engine

In [4]:
connection = "mysql+pymysql://root:root@localhost/books"

In [5]:
engine = create_engine(connection)

In [6]:
users_url = "https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users"

In [7]:
users = pd.read_csv(users_url)

In [8]:
books_url = "https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books"

In [9]:
books = pd.read_csv(books_url)
books.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [10]:
authors_url ="https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors"

In [11]:
authors = pd.read_csv(authors_url)

In [12]:
favorites_url = "https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite"

In [13]:
favorites = pd.read_csv(favorites_url)

In [14]:
users.to_sql('users', engine,index=False,if_exists="replace")

3

In [15]:
books.to_sql('books', engine,index=False,if_exists="replace")
favorites.to_sql('favorites', engine,index=False,if_exists="replace")
authors.to_sql('authors', engine,index=False,if_exists="replace")

5

In [16]:
q= """SHOW TABLES"""
pd.read_sql(q,engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [18]:
q="""SELECT 
    books.title, favorites.user_id
FROM
    books
        JOIN
    favorites ON books.id = favorites.book_id
WHERE
    favorites.user_id = (SELECT 
            users.id
        FROM
            users
        WHERE
            (users.last_name = 'Doe'
                AND users.first_name = 'John'));"""
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1